<ul>
    <li>Numero de procesadores: {{processors}}</li>
    <li>Directorio: {{cwd}}</li>
    <li>Id del proceso: {{pid}}</li>
    <li>Node version: {{node}}</li>
    <li>Memoria: {{memory}}</li>
    <li>Sistema operativo: {{platform}}</li>
    <li>Path: {{path}}</li>
    <li>Carpeta: {{title}}</li>
</ul>